.logo {
  text-align: center;

  &.logo--bottom-space {
    margin-bottom: 128px;
  }

  .logo__img-wrap {
    display: flex;
  }

  .logo__img {
    margin: auto;
  }

  .logo__img-mini {
    max-height: 45px;
    margin-left: 30px;
    max-width: 130px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    vertical-align: middle;
  }

  @media screen and (max-width: 1199px) {

    &.logo--bottom-space {
      margin-bottom: 105px;
    }
  }

  @media screen and (max-width: 767px) {

    &.logo--bottom-space {
      margin-bottom: 70px;
    }

    .logo__img-wrap {
      padding-bottom: 45px;
    }

    .col-2 {
      width: 50%;
    }
  }
}